@import "tailwindcss";

@theme {
  --color-brand-orange: #fdc648;
  --color-brand-brown: #3b1e08;
  --color-success: #4ade80;
  --color-danger: #fca5a5;
  --color-bg-dark: #050505;
  --color-bg-warm: #faf7f2;
  --color-bg-canvas: #f5f5f4;
  --color-sidebar-bg: #fefcf8;
  --color-sidebar-border: #f0e6d3;
}

@import "tailwindcss/utilities";

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #0f172a;
  /* text-slate-900 style */
}

/* Ẩn nút reveal/clear password mặc định trên Edge/IE*/
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}